	<!DOCTYPE html>
	<html lang="pt-br">
	<head>
	<!-- Meta tags Obrigatórias -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!-- Linkando os ícones ao seu site -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

	  <link rel="stylesheet" href="./css/styles.css" >
	 
	<title>EDUNOW</title>
	</head>
	<body>

	<nav class="navbar navbar-light  ">
	<a class="navbar-brand"><img class="w-50"src="./img/logo.png"></a>
	<form class="form-inline" action="/autenticar" method="post">

		  <div class="input-group">
	  <div class="input-group-prepend">
	    <span class="input-group-text bg-dark border-dark text-white" id="basic-addon1">@</span>
	  </div>
		  <input type="email" name="email" class="form-control border-dark mr-1" placeholder="e-mail" aria-label="email" >
	</div>
	<input class="form-control mr-sm-2 border-dark" name="senha" type="password" id="senha-login" placeholder="senha" >
	<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logar</button>
	</form>
	</nav>

			<% if(validacao.length > 0){ %>
					<div class="alert alert-danger">
						<strong>Atenção!</strong>
						<ul>
							<% for(var i = 0; i < validacao.length; i++) {%>
								<li><%=validacao[i].msg%></li>
							<% } %>
						</ul>
					</div>
				<% } %>

	<header>
	<div class="container">
		<div class="row ">
			<div class="col-md-4 form-home offset-md-7 p-4">
				<h2 class="mb-4 text-center">Sair de dentro da caixa e venha programar</h2>
				<form action="/cadastro" method="post">
					<button type="submit" class="btn btn-lg btn-block btn-outline-dark">faça sua inscrição</button>
				</form>
			</div>
		</div>
	</div>	

	</header>

	<section class=" p-5">
	<h2 class="text-center pb-5">Cursos de programações disponiveis</h2>
	<div class="container ">
			
	<div class="row d-flex align-content-center justify-content-center text-center">
		<div class="col-12 col-md-3 ">
		

	<div class="card border-dark mb-3" style="max-width: 18rem;">
	<div class="card-header"><img class="img-fluid w-25" src="./img/html5.png"></div>
	<div class="card-body text-dark">
	<h5 class="card-title">Curso de html 5</h5>
	</div>
	</div>
		</div>	
		<div class="col-12 col-md-3 ">
			
			

			<div class="card border-dark mb-3" style="max-width: 18rem;">
	<div class="card-header"><img class="img-fluid w-25" src="./img/css3.png"></div>
	<div class="card-body text-dark">
	<h5 class="card-title">Curso de css3</h5>
	</div>
	</div>

		</div>	
		<div class="col-12 col-md-3 ">

			<div class="card border-dark mb-3" style="max-width: 18rem;">
	<div class="card-header"><img class="img-fluid w-50" src="./img/js.png"></div>
	<div class="card-body text-dark">
	<h5 class="card-title">Curso de js</h5>
	</div>
	</div>
		</div>	
		<div class="col-12 col-md-3 ">
			
			
						<div class="card border-dark mb-3" style="max-width: 18rem;">
	<div class="card-header"><img class="img-fluid " src="./img/nodejs.png"></div>
	<div class="card-body text-dark">
	<h5 class="card-title">Curso de nodejs</h5>
	</div>
	</div>
		</div>		
	</div>
	</div>
	</section>

	<footer class="bg-black p-5 ">
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="./img/logo2.png">
			</div>
			<div class="col-12 col-md-3">
				<ul class="list-inline">
					<li><a href="#">home</a></li>
					<li><a href="#">Sobre nós</a></li>
					<li><a href="#">Preço</a></li>
					<li><a href="#">Contato</a></li>
				</ul>
				
			</div>
			<div class="col-12 col-md-3">
				<ul class="list-inline">
					<li><a href="#">blog</a></li>
					<li><a href="#">Pesquisa</a></li>
					<li><a href="#">Privacidade</a></li>
					<li><a href="#">Comunidade</a></li>
				</ul>
				
			</div>
			<div class="col-12 col-md-3 ">
						<ul class="list-inline">
	                   <li class="list-inline-item p-3">
	                      <a href="#"><i class="icon-social-facebook text-center text-white"></i></a>
	                   </li>
	                   <li class="list-inline-item p-3">
	                      <a href="#"><i class="icon-social-twitter text-center text-white"></i></a>
	                   </li>
	                   <li class="list-inline-item p-3">
	                      <a href="#"><i class="icon-social-instagram text-center text-white"></i></a>
	                   </li>
	                </ul>


			</div>
		</div>
	</div>

	</footer>
	</body>
	</html>